{% extends 'index.html' %} {% block content %}
<div id="about-main" class="mt-10">
  <div
    class="p-8"
    data-role="accordion"
    data-one-frame="true"
    data-show-active="true"
  >
    <div class="frame active">
      <div class="heading">About MUSIALweb</div>
      <div class="content p-4">Content will be made available soon.</div>
    </div>

    <div class="frame">
      <div class="heading">Usage Guide</div>
      <div class="content p-4">Content will be made available soon.</div>
    </div>

    <div class="frame">
      <div class="heading">FAQ</div>
      <div class="content p-4">
        We currently have no content for this section. If you encounter any
        problems or have any questions, do not hesitate to
        <a
          href="https://github.com/Integrative-Transcriptomics/MUSIAL/issues"
          target="_blank"
          >open an issue in our GitHub repository</a
        >.
      </div>
    </div>

    <div class="frame">
      <div class="heading">Legal Information</div>
      <div class="content p-4">
        <dl>
          <small>
            <dt class="infotext-header">Cookie usage</dt>
            <dd class="infotext-small">
              We use a strictly necessary (http-only non-tracking) session
              cookie so that you can access your data. (1) Your data will not be
              accessible to other people. (2) No personalized data is collected
              or shared with third parties and you will not be tracked by this
              cookie. (3) The cookie will expire after you close your tab.
            </dd>
            <dt class="infotext-header">Content liability</dt>
            <dd class="infotext-small">
              The contents of our pages were created with the utmost care.
              However, we cannot guarantee the accuracy, completeness and
              actuality of the content. As a service provider, we are
              responsible for our own content on these pages under the general
              laws according to § 7 TMG. According to §§ 8 to 10 TMG, however,
              we are not obligated as a service provider to monitor transmitted
              or stored third-party information or to investigate circumstances
              that indicate illegal activity. Obligations to remove or block the
              use of information under the general laws remain unaffected.
              However, liability in this regard is only possible from the point
              in time at which a concrete infringement of the law becomes known.
              If we become aware of such infringements, we will remove this
              content immediately.
            </dd>
            <dt class="infotext-header">Link liability</dt>
            <dd class="infotext-small">
              This page may contain links to external websites of third parties,
              on whose contents we have no influence. We cannot take any
              liability for these external contents. The respective provider or
              operator of the pages is always responsible for the content of the
              linked pages. The linked pages were checked for possible legal
              violations at the time of linking. Illegal contents were not
              recognizable at the time of linking. However, a permanent control
              of the contents of the linked pages is not reasonable without
              concrete evidence of a violation of the law. If we become aware of
              any infringements, we will remove such links immediately.
            </dd>
            <dt class="infotext-header">Data privacy</dt>
            <dd class="infotext-small">
              The use of our website is possible without providing personal data
              and no processed data is stored. If personal data (such as name,
              address or e-mail addresses) is collected, this is on a voluntary
              basis. This data will not be passed on to third parties without
              your express consent. We point out that data transmission over the
              Internet (e.g. communication by e-mail) may yield security gaps.
              Complete protection of data against access by third parties is not
              possible. The use of contact data published within the framework
              of the impressum by third parties for the purpose of sending
              advertising and information material is hereby expressly
              prohibited. The operators of the pages expressly reserve the right
              to take legal action in the event of the sending of advertising
              information, such as spam e-mails.
            </dd>
            <dt class="infotext-header">Copyright</dt>
            <dd class="infotext-small">
              This program is free software: you can redistribute it and/or
              modify it under the terms of the GNU General Public License as
              published by the Free Software Foundation, either version 3 of the
              License, or (at your option) any later version. This program is
              distributed in the hope that it will be useful, but WITHOUT ANY
              WARRANTY; without even the implied warranty of MERCHANTABILITY or
              FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
              License for more details. (<a
                href="https://www.gnu.org/licenses/gpl-3.0.en.html"
                target="_blank"
                >www.gnu.org/licenses/gpl-3.0.en</a
              >)
            </dd>
            <dt class="infotext-header">Code availability</dt>
            <dd class="infotext-small">
              The source code of MUSIALweb is available at
              <a
                href="https://github.com/Integrative-Transcriptomics/MUSIAL/tree/web"
                target="_blank"
                >github.com/Integrative-Transcriptomics/MUSIAL/tree/web</a
              >.
            </dd>
            <dt class="infotext-header">Contact</dt>
            <dd class="infotext-small">
              <div>
                <address>
                  Simon Hackl
                  <br />
                  Integrative Transcriptomics Group, Institute fpr
                  Bioinformatics and Medical Informatics, University Tübingen
                  <br />
                  Sand 14<br />
                  72076 Tübingen, Germany<br />
                  <a href="mailto:simon.hackl@uni-tuebingen.de"
                    >simon.hackl@uni-tuebingen.de</a
                  >
                </address>
              </div>
            </dd>
          </small>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
