/*
[1] Imports
*/
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200&display=swap');
/*
[2] Definition of root properties and variables.
*/
:root {
  font-family: Arial, Helvetica, sans-serif, 'Genos';
  --border-radius: 0.2em;
  --background-color: #EFF0F8;
  --background-color-90: rgba(239, 240, 248, 0.9);
  --background-color-2: #E4E5ED;
  --background-color-3: #fafafc;
  --color-1: #607196;
  --color-1-80: rgba(96, 113, 150, 0.8);
  --color-1-20: rgba(96, 113, 150, 0.2);
  --color-2: #cbd0e0;
  --color-3: #81A4CD;
  --color-4: #6d81ad;
  --text-color: #292926;
  --error-color: hsla(0, 99%, 64%, 0.8);
  --margin: 1em;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*
[3] Definition of style properties for classes.
*/
/* Set custom scrollbar design. */
::-webkit-scrollbar {
  width: 4px;
  margin-left: 1px;
  margin-bottom: 1px;
}
::-webkit-scrollbar-track {
  background: var(--background-color-2);
  margin-left: 1px;
  margin-bottom: 1px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-2);
  margin: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-1);
}
/* Spinner class to indicate loading; Source: https://tobiasahlin.com/spinkit/ */
.spinner {
  width: 350px;
  height: 350px;

  position: relative;
  margin: 100px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-2);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* Disable marker for summary/detail elements */
details > summary {
  cursor: pointer;
  list-style-type: none;
}
#menuDetails details > summary::-webkit-details-marker {
  display: none;
}
/*
[4] Definition of style properties for components via their id.
*/
/* Style for the main div element. */
#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}
/* Style for the Imprint button element */
#imprintButton {
  position: fixed;
  bottom: -2px;
  right: 0;
  margin-right: 0.5em;
  padding-bottom: 4px;
  color: var(--background-color);
  font-size: 0.6em;
  cursor: pointer;
  background-color: var(--color-4);
  border: none;
  border-radius: 2px;
}
/* Style for the GitHub link element */
#gitHubLink {
  position: fixed;
  display: inline-block;
  align-items: center;
  margin: 0.5em;
  right: 3em;
  font-size: 2em;
  color: var(--background-color-2);
}
/* Style for the title element, i.e. the MUSIAL IVE logo */
#title {
  position: fixed;
  display: inline-block;
  align-items: center;
  top: 0;
  right: 0;
  margin: 0.5em;
  padding-left: 0.5em;
  padding-right: 1em;
  border-left: 1px solid var(--background-color);
  font-family: 'Genos';
  color: var(--background-color);
}
/* Style for the header / top menu */
#headerMenu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: var(--color-1);
  box-shadow: var(--shadow);
  align-items: center;
  justify-content: left;
  z-index: 10;
}
#headerMenu details > #menuBtn {
  height: 16px;
  width: 16px;
  margin-left: 0.5em;
  padding: 4px;
  font-size: large;
  background-color: var(--color-4);
  color: var(--background-color-3);
  border-radius: 2px;
  z-index: 11;
}
#headerMenu details > #menuDetails {
  position: fixed;
  top: 40px;
  padding: 4px;
  width: calc(10% - 8px);
  height: calc(100% - 40px);
  font-size: small;
  background-color: var(--color-1-80);
  border-right: 1.5px solid var(--color-2);
  vertical-align: bottom;
  z-index: 11;
}
#menuDetails[open] > #menuBtn::before {
  color: var(--color-1);
}
/* Style for hamburger menu */
#menuDetails {
  color: var(--background-color-2);
  font-size: small;
}
#menuDetails button {
  color: var(--background-color-3);
  font-size: small;
  background-color: transparent;
  border: 1px outset var(--color-1-80);
  border-radius: 3px;
  width: 62%;
  margin: 1px;
  margin-top: 3px;
  margin-left: 30px;
  text-align: left;
  cursor: pointer;
}
#menuDetails button:hover {
  color: var(--color-2);
  border: 1px inset var(--color-4);
}
#menuDetails .menuBtnActive {
  background-color: var(--color-4);
  color: var(--color-2);
  border: 1px inset var(--color-4);
}
#menuDetails .menuBtnActive:hover {
  background-color: var(--color-4);
  color: var(--color-2);
  border: 1px inset var(--color-4);
}
#menuDetails details > summary:hover {
  color: var(--color-2);
}
#menuDetails details[open] > summary {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--color-1-20);
  border-radius: 2px;
}
#menuDetails details[open] > div {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--color-1-20);
  border-radius: 2px;
}
/* Style for input component */
#inputComponent {
  position: fixed;
  display: block;
  margin: 0.1%;
  padding-top: 10%;
  top: 40px;
  left: 0;
  width: 99.7%;
  height: calc( 100% - 40px - 20px );
  background-color: var(--background-color-2);
  border: 1px double var(--color-2);
  border-radius: 3px;
  text-align: center;
  z-index: 3;
}
#inputComponent .fa-folder-open {
  font-size: 30em;
  color: var(--color-2);
}
#inputComponent .fa-exclamation-triangle {
  font-size: 30em;
  color: var(--error-color);
}
#inputComponent b {
  font-size: 2em;
  color: var(--color-2);
}
#directoryInput {
  opacity: 0.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
  filter: alpha(opacity=0); /* IE 5-7 */
  -moz-opacity: 0.0; /* Netscape or and older firefox browsers */
  -khtml-opacity: 0.0; /* older Safari browsers */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:100%;
  z-index: 3;
}
/* Style for structure view component */
#structureViewComponent {
  position: absolute;
  top: 40px;
  right: 0;
  margin: 0.1%;
  width: 51.2%;
  height: 51.3%;
  display: none;
  overflow: hidden;
  background-color: var(--background-color-3);
  border: 1px solid var(--color-2);
  border-radius: 3px;
  z-index: 3;
}
#structureViewContent {
  width: calc( 100% - 8px );
  height: calc( 100% - 8px );
  padding: 4px;
  z-index: 3;
}
#structureViewContent #structureViewCanvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
}
/* Style for info component */
#infoComponent {
  position: absolute;
  top: 40px;
  left: 0;
  width: 18%;
  height: 51.3%;
  margin: 0.1%;
  display: none;
  background-color: var(--background-color-3);
  border: 1px solid var(--color-2);
  border-radius: 3px;
}
#infoContent {
  display: inline-block;
  font-size: small;
  overflow-y: scroll;
  width: calc( 100% - 8px );
  height: calc( 100% - 8px );
  padding: 4px;
  z-index: 2;
}
/* Style for composition view component */
#compositionViewComponent {
  position: absolute;
  top: 40px;
  left: 18.3%;
  width: 30%;
  height: 51.3%;
  margin: 0.1%;
  display: none;
  background-color: var(--background-color-3);
  border: 1px solid var(--color-2);
  border-radius: 3px;
  z-index: 3;
}
#compositionViewContent {
  display: block;
  width: calc( 100% - 8px );
  height: calc( 100% - 8px );
  padding: 4px;
  z-index: 3;
}
/* Style for variants view component */
#variantsViewComponent {
  position: absolute;
  top: calc( 40px + 0.6% + 51% );
  left: 0;
  margin: 0.1%;
  width: 99.7%;
  height: calc( 100% - ( 60px + 0.6% + 51% ) );
  display: none;
  overflow: hidden;
  background-color: var(--background-color-3);
  border: 1px solid var(--color-2);
  border-radius: 3px;
  z-index: 2;
}
#variantstViewContent {
  display: block;
  width: 100%;
  height: 94%;
  margin-top: 0;
  bottom: 0;
  z-index: 3;
}